{% extends "base.html" %}{% load i18n %}{% load auth_extras %}

{% block span9_content %}
<!-- modules example start -->
<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="../static/css/jquery.dataTables-1.10.15.css">
<!-- jQuery -->
<script type="text/javascript" charset="utf8" src="../static/scripts/js/jquery-1.10.2.min.js"></script>
<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="../static/scripts/js/jquery.dataTables-1.10.15.js"></script>

    <div class="module">
        <div class="module-head">
            <h3>Schedule | Details</h3>
        </div>
        <div class="module-body">
            <form class="my-ajax-form" method="POST" data-url='/cancel_post_json_task/'>
                <table id="example" class="display" cellspacing="0" width="100%">
                    <thead>
                         <tr>
                            <th width="128px">ETA</th>
                            <th width="50px">Args</th>
                            <th width="100px">Task id</th>
                            <th width="18px">Status</th>
                            <th width="200px">Result</th>
                            <th width="10px">Operation</th>
                        </tr>
                    </thead>
                    <tbody id="schedule_table_tbody">
                        {% for schedule in schedule_dic %}
                            <tr>
                                <td><font color="green">{{ schedule.eta }}</font></td>
                                <td><font color="green">{{ schedule.args }}</font></td>
                                <div><td id="sche_id">{{ schedule.sid }}</td></div>
                                {% if schedule.state == "PENDING" %}
                                    <td><font color="#00bfff">{{ schedule.state }}</font></td>
                                    <td><font color="yellow"></font></td>
                                    <td><a>cancel it</a></td>
{#                                     <a id="schedule_result"></a>#}
{#                                    <input class="btn btn-default" type="submit" value="Submit" />#}
{#                                    <input class="btn btn-default" type="submit" value="Submit" onclick="ScheduleDetails"/>#}
{#                                    <button id="button" onclick="ScheduleDetails">cancel it</button>#}
{#                                    </td>#}
                                {% elif schedule.state == 'SUCCESS' %}
                                    <td><font color="green">{{ schedule.state }}</font></td>
                                    <td><font color="green">{{ schedule.result }}</font></td>
                                    <td><span class="icon icon-ok-circle"></span></td>
                                {% else %}
                                    <td><font color="red">{{ schedule.state }}</font></td>
                                    <td><font color="red">{{ schedule.result }}</font></td>
                                    <td><span class="icon icon-ban-circle"></span></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>ETA</th>
                            <th>Args</th>
                            <th>Task id</th>
                            <th>Status</th>
                            <th>Result</th>
                            <th>Operation</th>
                        </tr>
                    </tfoot>
                </table>
            <p class="alert-info">status: <span id="output"></span></p>
            </form><!-- Form -->
        </div><!--/.module-body-->
    </div><!--/.module-->
    <!-- modules example end -->

{% endblock %}

{% block scripts %}
<!-- schedule table js -->
<script type="text/javascript">
$(document).ready(function() {
    var table = $('#example').DataTable();

    $('#example tbody').on( 'click', 'tr', function () {
        $(this).toggleClass('selected')
        //console.log(document.getElementById('sid').innerHTML)

        //  Testing function start - is ok //
        var sHTML = $(this).toggleClass('selected').context
        var sid = sHTML.cells[2].innerHTML
        //console.log(typeof(sHTML))
        //console.log(sHTML.rowIndex)
        //console.log(sid)
        var data={"sid": sid}
        console.log('data:',data)
        $.ajax({
                type: "POST",
                url: "/cancel_post_json_task/",
                //url: "/schedule_details/",
                datatype: "json",
                //async: true,
                //data: {"sid": sid},
                data:data,
                success: function (json) {
                    console.log(data)
                    $('#output').html("[Info] --- System get cancel command to kill task id:" + json)
                    console.log('success,return json:',json)
                    //alert("Success to cancel task id \n"+json)
                    window.wxc.xcConfirm("Success to cancel task id: <br>"+json,window.wxc.xcConfirm.typeEnum.info)
                },
                failed: function (json) {
                    console.log(data)
                    console.log('failed,return json:',json)
                    //alert("Failed!",json)
                }
            })
        // below is unuseful
        // var x = document.getElementById("sid").innerHTML
        // console.log(x)
        // console.log($('sHTML').context)

        // var obj = $("<div id='div1'>div1</div><div id='div2'>div2</div>");
        // var obj1 = obj.find('.div1');
        // var obj2 = obj.find('.div2');

        // console.log(obj1)
        // console.log(obj2)

        // console.log(objnew)
        // Element.prototype.sid = function(str){
        //  this.innerHTML = str
        //  console.log('innerHTML:',this.innerHTML)
        // }
        // Testing function end - is ok //
    });

    //$('#button').click(function(){
        //alert( table.rows('.selected').data().length +' row(s) selected' )
        //alert('sid:',sid)
    //})
});


</script>
{% endblock %}