{% extends "base.html" %}{% load i18n %}{% load auth_extras %}
{% block span9_content %}
    <div class="module">
        <div class="module-head">
            <h3>Hosts | Summary</h3>
        </div>
        <div class="module-body">
            <p>
                <strong>Hosts</strong>
                -
                <small>details</small>
            </p>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>IP</th>
                  <th>Name</th>
                  <th>Location</th>
                </tr>
              </thead>
              <tbody>
                {% for host in hosts %}
                    <tr>
                        <td>{{ host.id }}</td>
                        <td>{{ host.ip }}</td>
                        <td>{{ host.name }}</td>
                        <td>{{ host.location }}</td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>

            <br />
            <!-- <hr /> -->
            <br />

            <p>
                <strong>User & Host Group</strong>
                -
                <small>details</small>
            </p>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Username</th>
                  <th>Groupname</th>
                </tr>
              </thead>
              <tbody>
                {% for ug in usergroup %}
                    <tr>
                        <td>{{ ug.id }}</td>
                        <td>{{ ug.user }}</td>
                        <td>{{ ug.group }}</td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>

            <br />
            <!-- <hr /> -->
            <p>
                <strong>Host Group</strong>
                -
                <small>details</small>
            </p>

            <div id="result"></div>


            <br />
            <!-- <hr /> -->
            <br />



    </div><!--/.module-->
{% endblock %}

{% block scripts %}
<script src="../static/scripts/js/vendor/jquery-2.1.3.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    //var hgname = document.getElementById("hgname").innerHTML
    var array_group_name = []
    var array_group_hostip = []
    {% for hg in hostgroup %}
{#    var hgname = $("#{{ hg.name }}").text()#}
    //console.log('hgname:',hgname)
    var hgname = "{{ hg.name }}"
    var data = {"a": "{{ hg.name }}"}
    array_group_name.push(hgname)

    //console.log(data)
    var queryhg = $.ajax({
        type: "POST",
        url: "/queryhostgroup/",
        async: false,   // return arr,aysnc must be false,
        data: data,
        dataType: "json",
        success: function (ret) {
            var hostip = ret.host_ip
            var dict_ip = {'ip':hostip}
            var arr = $.makeArray(hostip);
            var array_ip_list = []
            array_ip_list.push(arr)
            return arr
        }
    })

    //console.log('eval(queryhg)',(eval(queryhg).responseText))
    var res_ip = eval(queryhg).responseText
    array_group_hostip.push(res_ip)
    {% endfor %}
    //console.log('array_group_name:',array_group_name)
    //console.log('array_group_hostip:',array_group_hostip)

    var tbBody = ""
　　 $.each(array_group_hostip, function(i, item){
        console.log(i)
        console.log(array_group_name[i])
        console.log(item)
        tbBody += "<tbody><tr><td>" +
                    i + "</td><td>" +
                    array_group_name[i] + "</td><td>" +
                    item +
                    "</td></tr></tbody>"
    })
    $("#result").html("<table class='table table-bordered'><thead><tr><th width='20px'>#</th><th width='40px'>Name</th><th width='300px'>IP</th></tr></thead>"+tbBody+"</table>")
})
</script>
{% endblock %}